{% extends 'layouts/main.html' %}
{% block container %}
<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-8 z-10 relative">
    <h1 class="py-6 text-4xl font-extrabold tracking-tight leading-none text-center">Add Knowledge</h1>
        <div class="text-center">
            <p class="text-lg text-gray-900 dark:text-white mb-8">You must be logged in to upload files.</p>
            <a href="/login/" class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</a>
        </div>
</div>
<div class="bg_color w-full h-full absolute top-0 left-0 z-0"></div>

{% for message in messages %}
    {% if message.tags == 'success' %}
        <script>
            var m = "{{ message }}";
            Swal.fire({
                title: "Success!",
                text: m,
                icon: "success"
            });
        </script>
    {% else %}
        <script>
            var m = "{{ message }}";
            Swal.fire({
                title: "Error!",
                text: m,
                icon: "error"
            });
        </script>
    {% endif %}
{% endfor %}

{% endblock container %}
